Source: ros-hydro-nav2d
Section: misc
Priority: extra
Maintainer: Sebastian Kasperski <sebastian.kasperski@dfki.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://wiki.ros.org/navigation_2d
Standards-Version: 3.9.2

Package: ros-hydro-nav2d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-nav2d-exploration, ros-hydro-nav2d-karto, ros-hydro-nav2d-localizer, ros-hydro-nav2d-msgs, ros-hydro-nav2d-navigator, ros-hydro-nav2d-operator, ros-hydro-nav2d-remote, ros-hydro-nav2d-tutorials
Description: Meta-Package containing modules for 2D-Navigation
