Source: ros-indigo-nav2d-remote
Section: misc
Priority: extra
Maintainer: Sebastian Kasperski <sebastian.kasperski@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-nav2d-navigator, ros-indigo-nav2d-operator, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: http://wiki.ros.org/remote_controller
Standards-Version: 3.9.2

Package: ros-indigo-nav2d-remote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-nav2d-navigator, ros-indigo-nav2d-operator, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: This package is used to manually control a robot that uses the operator and navigator node from navigation_2d. Currently there is one node to control one robot with a joystick and one to control multiple robots in simulation. It can send commands directly to the operator or start and stop navigator actions.
